<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" size="large" (click)="goBack()" class="back-btn"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf=otherUser>{{otherUser.displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <p>{{message.messageText}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <div class="message-wrap">

    <div *ngFor="let message of messages" class="message" [class.left]=" message.fromId != uid "
      [class.right]=" message.fromId === uid ">
      <!-- <img class="user-img" [src]="msg.userAvatar" alt="" src=""> -->
      <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            <!-- {{msg.userName}} -->
            {{moment(message.sentAt.toDate()).fromNow()}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{message.messageText}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Type message" [(ngModel)]="currentMessage"></ion-input>
    <ion-button fill="outline" color="primary" slot='end' (click)="sendMessage()" (keyup.enter)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>