<div class="container">
  <div class="line">
    <span>
      {{ currentFilter }}
    </span>
  </div>

  <div *ngIf="drives; else elseBlock" class="cards" scrollY="true" no-bounce>
    <app-drives-card *ngFor="let drive of drives" [drive]="drive">
    </app-drives-card>
  </div>

  <ng-template #elseBlock>

    <ion-card class="else">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="alert-circle-outline" slot="start" size="medium"></ion-icon>
          <ion-label>Kyytejä ei löytynyt</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ng-template>
</div>