<div class="container">
  <div class="line">
    <span>
      {{ currentFilter }}
    </span>
  </div>

  <div *ngIf="drives; else loading" class="cards" scrollY="true" no-bounce>
    <app-drives-card *ngFor="let drive of drives" [data]="drive">
    </app-drives-card>

    <div *ngIf="state">
      Kyytejä ei valitettavasti löytynyt...
      <ion-icon name="sad-outline" slot="end" size="large"></ion-icon>
    </div>
  </div>

  <ng-template #loading>
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </ng-template>
</div>