<div class="container">
  <div class="line">
    <h2>
      <span>
        {{ currentFilter }}
      </span>
    </h2>
  </div>

  <div *ngIf="currentFilter == 'Suosikit'">
    <ion-button (click)="presentPopover($event)" class="add-fav-btn" expand="full">
      Lisää uusi suosikkireitti
      <ion-icon name="add-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="drives; else loading" class="cards" scrollY="true" no-bounce>
    <app-drives-card *ngFor="let drive of drives; index as i" [color]="getColor(i)" [data]="drive">
    </app-drives-card>

    <div *ngIf="drives.length < 1">
      <ion-item lines="none">
        <ion-label color="grey">Kyytejä ei löytynyt...</ion-label>
        <ion-icon name="sad-outline" size="medium"></ion-icon>
      </ion-item>


    </div>

  </div>


  <ng-template #loading>
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </ng-template>

</div>