.container {
    background: #F9F9F9;
    height: 100vh;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    padding: 5px 13px;
    z-index: 5;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;


    .line {
        width: 100%;
        text-align: center;
        position: relative;
        color: rgba(0, 0, 0, 0.685);
        margin-bottom: 5px;

        span {
            background: #f9f9f9; 
            padding: 0 10px;
        }

        &:before {
            content: "";
            width: 100%;
            left: 0;
            top: 50%;
            position: absolute;
            z-index: -1;
            border-top: 2px solid rgba(0, 0, 0, 0.116);
            border-radius: 100px;
        }
    }

    .else {
        border-radius: 10px;
        margin: 15px 0px;

        ion-item {
            color: rgb(110, 110, 110);
            font-weight: 500;
        }
    }

    .cards {
        height: 85%;

        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
        display: none; // Safari and Chrome
        }
    }
}