<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">

  <ion-item>
    <ion-label position="floating">Mistä</ion-label>
    <ion-input formControlName="origin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mihin</ion-label>
    <ion-input formControlName="destination"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Päivämäärä</ion-label>
    <ion-datetime formControlName="date"
      monthNames="Tammikuu, Helmikuu, Maaliskuu, Huhtikuu, Toukokuu, Kesäkuu, Heinäkuu, Elokuu, Syyskuu, Lokakuu, Marraskuu, Joulukuu"
      displayFormat="DD MMMM YYYY" placeholder="Vaihtoehtoinen">
    </ion-datetime>
  </ion-item>

  <ion-button [disabled]="!searchForm.valid" type="submit" expand="full">Hae kyytejä</ion-button>
</form>