.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  
  }
  .center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .size1 {
    height: 100px;
    width: 100px;
  }