<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-button size="small" class="search-btn" expand="block" shape="round">
      <ion-icon name="search" slot="start"></ion-icon>
      Hae kyytejä
    </ion-button>
    <ion-buttons slot="end">
      <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="top-section">
    <ion-button (click)="activateFilter('near')" fill="outline"
      [color]="currentFilter === filters.filterNear ? 'primary' : 'light' ">
      <ion-icon name="location-outline" [color]="currentFilter === filters.filterNear ? 'primary' : 'light' ">
      </ion-icon>
      Kyydit lähellä sinua
    </ion-button>

    <ion-button (click)="activateFilter('new')" fill="outline"
      [color]="currentFilter === filters.filterNew ? 'primary' : 'light' ">
      <ion-icon name="refresh-circle-outline" [color]="currentFilter === filters.filterNew ? 'primary' : 'light' ">
      </ion-icon>
      Uusimmat
    </ion-button>

    <ion-button (click)="activateFilter('favorites')" fill="outline"
      [color]="currentFilter === filters.filterFavorites ? 'primary' : 'light' ">
      <ion-icon name="heart-outline" [color]="currentFilter === filters.filterFavorites ? 'primary' : 'light' ">
      </ion-icon>
      Suosikit
    </ion-button>
  </div>
  <app-drives-container [currentFilter]="currentFilter" [drives]="drives"></app-drives-container>


  <app-drives-action></app-drives-action>

</ion-content>