.back-btn {
  cursor: pointer;
}

ion-content {
  --background: var(--ion-color-dark-shade);
}

.details {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
  scroll-behavior: smooth;
  border-radius: 20px 20px 0px 0px;
  background: #f9f9f9;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

ion-toolbar {
  --background: var(--ion-color-dark-shade);
  --color: #f9f9f9;
}

ion-card-header {
  ion-card-title {
    --color: #3f3f3f;
    font-size: 20px;
  }
}

ion-card {
  // margin: 10px;
  // border: 1px solid black;
  // height: 100%;
  // width: 100%;
  // padding: 5px;
  // box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  --background: #f9f9f9;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);

  ion-item {
    // border-bottom: 2px solid rgb(245, 245, 245);
    --padding-start: 5px;
    --padding-end: 3px;

    ion-label {
      border-left: 2px solid var(--ion-color-primary);
      background: rgb(242, 242, 242);
      border-radius: 0px 5px 5px 0px;
      padding: 5px 5px 5px 10px;
      margin-right: 0;
    }

    ion-icon {
      margin-right: 10px;
    }
  }

  ion-card-subtitle {
    margin-top: 0;
  }

  ion-card-content {
    padding: 0;
    background: #f8f8f8;
    border-radius: 10px;
    height: 50%;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;

    ion-button {
      align-items: center;
      text-align: center;
      color: white;
      text-transform: none;
      --box-shadow: none;

      ion-icon {
        justify-content: center;
        vertical-align: middle;
      }

      p {
        color: white;
      }
    }

    .chat-btn {
      p {
        color: var(--ion-color-primary);
      }
    }
  }

  ion-chip {
    margin: 0;
    margin-bottom: 5px;
  }

  // ion-card-title {
  //   font-weight: 600;
  //   color: #3f3f3f;
  //   font-size: 20px;
  // }
}

.list {
  margin: 10px 13px;

  display: flex;
  flex-direction: column;

  .list-header {
    p {
      font-weight: 500;
      color: #525252;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-left: 2px solid var(--ion-color-primary);
    background: rgb(243, 243, 243);

    .list-icon {
      margin: 5px 10px;
      ion-icon {
        vertical-align: middle;
      }
    }

    .list-text {
      background: rgb(243, 243, 243);
      padding: 5px;
      min-height: 30px;
      padding-left: 15px;
      border-radius: 0px 5px 5px 0px;
      width: 100%;

      color: #3f3f3f;
    }
  }
}
